<mat-toolbar class="header mat-elevation-z3">
  <span routerLink="/">
    <!-- <img class="logo" src="/assets/img/logo-branca.png" alt="logo"> -->
  </span>
  <span routerLink="/" class="title-page">
    <h3>Teacher Schedule</h3>
  </span>

  <div class="div-sessao">
    <span *ngIf="usuarioLogado !== null">Bem-vindo {{usuarioLogado.name}}</span>
    <button *ngIf="usuarioLogado === null && !isPageLogin()" mat-raised-button style="background-color: #ad3616; color: #FFF" name="login" routerLink="/login" >Login</button>
    <button *ngIf="usuarioLogado !== null" mat-raised-button style="background-color: #c95225; color: #FFF" name="logout" (click)="logout()" >Logout</button>
  </div>
</mat-toolbar>
