<mat-sidenav-container class="menu-container">
  <mat-sidenav class="barra" mode="side" opened [ngClass]="{'hide': usuarioLogado === null}">
    <i *ngIf="!isShowMenu" (click)="menuAction()" class="material-icons menu-icon">menu</i>
    <i *ngIf="isShowMenu" (click)="menuAction()" class="material-icons menu-icon">close</i>
    <mat-nav-list *ngIf="isShowMenu" class="nav-list">
      <a *ngIf="usuarioLogado !== null && usuarioLogado.isTeacher" (click)="menuAction()" mat-list-item routerLink="/usuario">
        <i class="material-icons">
          person_add
        </i>
        Usuario
      </a>

      <hr>

      <a *ngIf="usuarioLogado !== null" (click)="menuAction()" mat-list-item routerLink="/horario">
        <i class="material-icons">
          schedule
        </i>
        Horários
      </a>

      <hr>

      <a *ngIf="usuarioLogado !== null" (click)="menuAction()" mat-list-item routerLink="/mensagem">
        <i class="material-icons">
          message
        </i>
        Messagens
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
