<mat-spinner *ngIf="!loaded"></mat-spinner>
<div *ngIf="loaded" class="div-user">
  <div *ngIf="flagShowPopup" #popUpBox class="popup" (click)="clickPoUp($event,popUpBox)">
    <mat-card class="card-user">
      <mat-card-title>{{popUpMode === 'add' ? "Adicionar": "Editar"}} Usuário</mat-card-title>
      <form action="">
        <mat-form-field>
          <input matInput placeholder="CPF" [(ngModel)]="usuario.cpf" name="cpf">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Nome" [(ngModel)]="usuario.name" name="nome">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Matrícula" [(ngModel)]="usuario.registration" name="matricula">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Senha" [(ngModel)]="usuario.password" name="password">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Email" [(ngModel)]="usuario.email" name="email">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Telefone" [(ngModel)]="usuario.telephone" name="telefone">
        </mat-form-field>

        <p><input type="checkbox" id="isTeacher" [(ngModel)]="usuario.isTeacher" name="isTeacher"> Professor</p>

      </form>
      <button mat-raised-button #buttonSalvar (click)="saveUser(buttonSalvar, buttonCancelar)"  style="background-color: #ad3616; color: #FFF" >Salvar</button>
      <button mat-raised-button #buttonCancelar (click)="showPopUp(null, eraseUsuario)" >Cancelar</button>

      <button *ngIf="popUpMode == 'edit' && usuario.id !== usuarioLogado.id" (click)="openConfirm()" class="delete-icon" mat-fab style="background-color: #ad3616; color: #FFF">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card>
  </div>

  <header>

    <div class="row-add">
      <h3>Usuários</h3>

      <button (click)="showPopUp('add', eraseUsuario)" mat-fab style="background-color: #ad3616; color: #FFF" aria-label="Adicionar novo usuário">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="filter-box">
      <mat-form-field class="input-pesquisar" appearance="fill">
        <mat-label>Pesquisar por usuário:</mat-label>
        <input #inputSearch (input)="search(inputSearch)" matInput placeholder="Digite o usuário desejado">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Selecione o Filtro</mat-label>
        <mat-select [(ngModel)]="filterField" (selectionChange)="search(inputSearch)">
          <mat-option [value]="''">-</mat-option>
          <mat-option *ngFor="let item of [].constructor(displayedColumns.length); let i = index"  [value]="displayedColumns[i]">{{filterFields[i]}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </header>

  <div class="content">
    <mat-table #table [dataSource]="filterUsuario">

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cpf">
        <mat-header-cell *matHeaderCellDef>CPF</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.cpf}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="registration">
        <mat-header-cell *matHeaderCellDef>Matrícula</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.registration}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>E-mail</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="isTeacher">
        <mat-header-cell *matHeaderCellDef>Professor</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.isTeacher ? 'Sim' : 'Não'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="telephone">
        <mat-header-cell *matHeaderCellDef>Telefone</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.telephone ? element.telephone : '-'}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showPopUp('edit', row)"></mat-row>

    </mat-table>

    <p *ngIf="filterUsuario.length === 0">Nenhum usuário encontrado.</p>
  </div>
</div>

<div class="popup" *ngIf="flagShowConfirm" #confirmBox (click)="clickConfirm($event,confirmBox)">
  <div class="confirm">
    <p>Deseja realmente excluir o usuário?</p>
    <div>
      <button mat-raised-button style="background-color: #c95225; color: #FFF" (click)="eraseUser()">Sim</button>
      <button mat-raised-button (click)="closeConfirm()">Não</button>
    </div>
  </div>
</div>
